body {
  background-color: #d1fae5;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  height: 75px;
  padding: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header div {
  font-size: 40px;
  font-weight: bold;
}

header button {
  justify-self: right;
  height: 50px;
  width: 100px;
}

#top {
  display: grid;
  justify-content: center;
  padding: 50px;
}

#add-book {
  width: 175px;
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #ecfdf5;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
}

fieldset {
  display: grid;
  border: none;
  gap: 15px;
}

legend {
  text-align: center;
  padding: 15px;
}

input,
button {
  width: 200px;
  border: none;
  border-radius: 10px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
}

.form {
  display: grid;
}

#form-read {
  justify-content: center;
  gap: 15px;
}

#form-read input {
  grid-column-start: 2;
  justify-self: start;
  width: 20px;
}

#submit-button {
  display: grid;
  justify-content: center;
}

#submit {
  width: 230px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  background-color: #6ee7b7;
  width: 220px;
}

#book-display {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.new-card {
  display: grid;
  width: 220px;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

.title-div {
  grid-row-start: 1;
  align-self: center;
}

.author-div {
  grid-row-start: 2;
  align-self: center;
}

.pages-div {
  grid-row-start: 3;
  align-self: center;
}

.buttons-div {
  grid-row-start: 4;
  display: grid;
  gap: 15px;
  justify-items: center;
}

.read-button {
  grid-row-start: 1;
}

.not-read {
  background-color: #fca5a5;
}

.remove-button {
  grid-row-start: 2;
}
