fieldset {
  display: grid;
  gap: 10px;
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;
}

#book-display {
  height: 100px;
  background-color: lightblue;
  padding: 10px;
  display: grid;
  gap: 10px;
}

#modal {
  display: none;
}

.new-card {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.new-div {
  font-size: 18px;
}

.new-button {
  grid-column-start: 2;
}
