fieldset {
  display: grid;
  gap: 10px;
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}

button {
  width: 60px;
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  font-size: 10px;
}

#book-display {
  padding: 15px;
  display: grid;
  gap: 15px;
}

#modal {
  display: none;
}

.new-card {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  font-size: 16px;
  border: solid;
  border-width: 1px;
}

.left-div {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 20px;
  display: grid;
  align-items: center;
}

.right-div {
  grid-area: 1 / 2 / 3 / 3;
  font-size: 16px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.read-label,
.read-checkbox {
  grid-area: 2 / 1 / 3 / 2;
  align-self: center;
  justify-self: start;
}

.read-checkbox {
  margin-left: 50px;
}

.remove-button {
  grid-row-start: 1;
  justify-self: end;
}

.read-button {
  grid-row-start: 2;
  justify-self: end;
}
